 <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="my-3" *ngIf="loading">
        <h3>Searching... </h3>
      </div>
      <app-search-box
        (loading)="loading = $event"
        (results)="updateResults($event)"
        >
      ></app-search-box>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3 mb-3" *ngFor="let result of results">
      <app-search-result
        [result]="result"
      >
      </app-search-result>

    </div>
  </div> 
  <button class="btn btn-primary text-white my-5" (click)="makePost()">Testing the make request</button>
</div>
